<ion-view view-title="iBeacon">
  <ion-content>
    <div class="card">
      <div class="item item-divider item-calm">Home</div>
      <div class="item item-body">
        <p>
          This app is developed by the Mediate Technology department of the Linnaeus University in Växjö, Sweden.
          <br>
          It scans for iBeacons to determine the location of a device.
          <br>
          <br>
          In the following you can see what iBeacons located at the LNU your device is detecting:
        </p>
        <div class="card">
          <div class="item item-text-wrap" ng-repeat="beacon in beacons">
            Beacon details:
            <br>
            UUID: {{beacon.uuid}}
            <br>
            Major: {{beacon.major}}
            <br>
            Minor: {{beacon.minor}}
            <br>
            Proximity: {{beacon.proximity}}
            <br>
            Accuracy: {{beacon.accuracy}}
            <br>
            RSSI: {{beacon.rssi}}
            <br>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
