<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">What's the name of your device?</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="closeModal()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Devicename</span>
          <input type="text" ng-model="device.name">
        </label>
        <label class="item">
          <button class="button button-block button-calm" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
